/* 
    Document   : style
    Created on : 2010-05-20, 22.18.12
    Author     : Giedrius
    Description:
        Purpose of the stylesheet follows.
*/
body {
	font-family: Helvetica, Verdana, Arial;
	font-size: 12px;
	color: #0d1320;
	padding: 5px 5px 5px 20px;
}
a {
	text-decoration: underline;
	color: #ca0000;
}
a:hover {
	text-decoration: none;
	color: #ca0000;
}
h1 {
	font-size: 70px;
	margin-bottom:0;
	color: #0d1320;
}
h1 div {
	font-size: 44px;
}
h1 div#currently {
	font-size: 40px;
}
h2 {
	font-size: 44px;
	margin-top:0;
	font-family: Tahoma;
	font-weight: normal;
}
h3 {
	font-size: 30px;
	margin-bottom:15px;
}
h4 {
	font-size: 24px;
	margin-bottom:5px;
}
.brown {
	color: #0d1320;
}
.borderless {
	border: none;
}
#email {
	font-size: 18px;
	background-color: #0d1320;
	color: #fff;
	padding: 5px 60px 5px 60px;
}
#links {
	padding: 5px 15px 5px 60px;
}
ul {
	padding-left: 15px;
}
li {
	list-style: none;
}
#copyright {
	font-size: 12px;
	color: #5d5a4a;
	margin-top: 25px;
	text-align: left;
}
#valid-html {
	position:absolute;
	right: 100px;
	top: -65px;
}
#google-search {
	text-align: right;
	margin-bottom: 10px;
}
#adsense {
	position: absolute;
	right: 5px;
	top: 100px;
}
